/* @import './base.css'; */

#app {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

/* 添加自定义字体 */
@font-face {
  font-family: 新艺馆黑体;
  src: url('/FontquanXinYiGuanHeiTi-Regular.ttf') format('truetype');
}

body{
  margin: 0;
  font-family: 新艺馆黑体;
}

/* 全局颜色变量 */
:root {
  /* 黑色 */
  --RD-color-black: #000000;
  --RD-color-black-50: #00000080;
  /* 白色 */
  --RD-color-white: #FFFFFF;
  --RD-color-white-50: #FFFFFF80;
  /* 灰色 */
  --RD-color-gray: #D9D9D9;
  --RD-color-gray-50: #D9D9D980;
  /* 红色 */
  --RD-color-red: #BA0000;
  --RD-color-red-50: #BA000080;
  /* 深红 */
  --RD-color-crimson: #740000;
}

/* 全局文字颜色变量 */
:root {
  --RD-color-text: var(--RD-color-black);
  --RD-color-text-white: var(--RD-color-white);
  --RD-color-text-red: var(--RD-color-crimson);
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
