/* @import './base.css'; */

#app {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

/* 添加自定义字体 */
@font-face {
  font-family: 新艺馆黑体;
  src: url('/FontquanXinYiGuanHeiTi-Regular.ttf') format('truetype');
}

body{
  margin: 0;
  font-family: 新艺馆黑体;
}

/* 全局颜色变量 */
:root {
  /* 黑色 */
  --RD-color-black: #16161B;
  --RD-color-black-50: #16161B80;
  /* 白色 */
  --RD-color-white: #E6EBE6;
  --RD-color-white-50: #E6EBE680;
  /* 灰色 */
  --RD-color-gray: #D9D9D9;
  --RD-color-gray-50: #D9D9D980;
  /* 红色 */
  --RD-color-red: #A81111;
  --RD-color-red-50: #A8111180;
  /* 深红 */
  --RD-color-crimson: #540808;
}

/* 全局样式颜色变量 */
:root {
  --RD-color-text: var(--RD-color-black);
  --RD-color-text-white: var(--RD-color-white);
  --RD-color-text-red: var(--RD-color-crimson);

  --RD-color-bg: var(--RD-color-white);
}

/* 暗夜模式 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --RD-color-text: var(--RD-color-white);
    --RD-color-text-white: var(--RD-color-black);
    --RD-color-text-red: var(--RD-color-crimson);
      
      --RD-color-bg: var(--RD-color-black);
    }
  } */